body {
    background-color: cornflowerblue;
    text-align: center;
}

li {
    list-style: none;
}

h1 {
    font-size: 70px;
    font-family: fantasy;
    color:rgb(0, 34, 78);
    background-color: rgb(91, 92, 145);
    text-align: center;
    text-shadow:10px, 10px, 0 darkblue;
    
    
}

input {
    width: 300px;
    height: 30px;
    font-family: monospace;
}

button {
    height: 35px;
    background-color: azure;
    color:indigo;
    font-size: 20px;
    font-family: monospace;
}

button:hover {
    background-color: crimson;
}

button:disabled {
    background-color: dimgrey;
}
h2 {
    font-size: 50px;
    font-family: cursive;
}

li {
    font-size: 40px;
}

li:hover {
    cursor: pointer;
}

span {
    font-family: fantasy;
    font-size: 40px;
}
/* #high-scores {
    display: none;
} */